/* Header */
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 1000;

  &.open {

    .mobile-menu {
      visibility: hidden;
      animation: fade-in 0.5s ease-in-out forwards;
    }

    .overlay {
      visibility: hidden;
      animation: fade-in 0.5s ease-in-out forwards;
    }

    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(0.4rem, 0.5rem);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.4rem, -0.5rem);
      }
    }
  }

  @include breakpoint-up(large) {
    padding: 0 8rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    @include breakpoint-up(large) {
      padding: 0;
    }

    .logo {
      width: 8rem;
      height: 1.5rem;
    }

    .mobile-menu {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 2rem;
      top: 5.5rem;
      width: calc(100% - 3rem);
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      background: $white;
      border-radius: 1rem;
      z-index: 1000;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 1.5rem;

        li {
          a {
            font-weight: $bold;
            color: $dark-blue;
          }
        }
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }

    .overlay {
      position: fixed;
      top: 4.3rem;
      left: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(to bottom, $dark-blue, rgba(0, 0, 0, 0));
      opacity: 0;

      @include breakpoint-up(large) {
        display: none;
      }
    }

    .desktop-menu {
      @include breakpoint-down(medium) {
        display: none;
      }

      @include breakpoint-up(large) {
        position: sticky;

        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 3rem;
          padding: 0;

          li {
            padding: 1rem 0;

            &:hover {
              cursor: pointer;

              a {
                color: $dark-blue;
                transition: color 200ms ease-in-out;

                &::after {
                  position: absolute;
                  content: "";
                  display: block;
                  height: 4px;
                  right: 0;
                  left: 0;
                  bottom: -2rem;
                  border-radius: 1rem;
                  background: $gradient;
                  transition: 200ms ease-in-out;
                }
              }
            }

            a {
              position: relative;
              font-size: $body_size;
              font-weight: $bold;
              color: $grayish_blue;
            }
          }
        }
      }
    }

    .request-invite {
      @include breakpoint-down(medium) {
        display: none;
      }
    }

    .hamburger {
      cursor: pointer;

      @include breakpoint-up(large) {
        display: none;
      }

      span {
        display: block;
        width: 2rem;
        height: 0.1rem;
        background-color: $dark-blue;
        margin: 0.5rem 0;
        border-radius: 0.5rem;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
